Requirement Documents

MAD I

Project Document:

https://docs.google.com/document/d/e/2PACX-1vQXZXcz4tZukKB1SY1YgFBwQsc_gAgfr822JmzvhJMnOC-kc1mXzyguVmWoOtXpykO1spBO8VHsEVap/pub

Project statement - Vehicle Parking App - V1

https://docs.google.com/document/d/e/2PACX-1vR9h1TDBhntxl1XA3tWalsCSVw_tqw8dUZ6TtXotYHwfAmtC_GHDTCq_NakeJuP_EKQFR2JIubjnmiH/pub
