{% extends "navbar.html" %}
    
{% block content %}

    <div class="title"> Recent Parking History </div>

        <table class="table table-striped table-active table-responsive table-css table-bordered ">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Location</th>
                    <th scope="col">Vehicle Number</th>
                    <th scope="col">TimeStamp</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parking in user_parking_data %}
                        <tr>
                            <th scope="row">{{ parking[0] }}</th>
                            <td>{{ parking[1] }}</td>
                            <td>{{ parking[2] }}</td>
                            <td>{{ parking[3] }}</td>
                            {% if parking[4] == 'O' %}
                                <td><button type="submit" class="btn btn-danger"> Release Out </button></td>
                            {% else %}
                                <td><button type="submit" class="btn btn-success"> Parked Out </button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

        <hr style="height: 5px; background-color: black; border: none;">

        <div class="center-wrapper">
            <div class = "search_location">
                <span>
                    <h5><b>Search Parking @location/Pincode: </b></h5>
                    <input type="search">
                </span>
            </div>
        </div>

        <table style="text-align: center;" class="table table-striped table-css table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Address</th>
                        <th scope="col">Availabilty</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lot in availability_data %}
                        <tr>
                            <th scope="row">{{ lot[0] }}</th>
                            <td>{{ lot[1] }}</td>
                            <td>{{ lot[2] }}</td>
                            <td>
                                <form method="POST" action="{{ url_for ('user.bookSpot') }}">
                                    <input type="hidden" name="lot_id" value="{{ lot[0] }}"/>
                                    <input type="hidden" name="locationName" value="{{ lot[1] }}"/>
                                    <button type="submit" class="btn btn-success"> Book </button>  
                                </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}